{% extends "bootstrapbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}
{% block page_content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
            {{ message }}
        </div>
    {% endfor %}
    <div class="page-header">
        <h1>Hello,
            {% if name %}
                {{ name }}
            {% else %}Stranger
            {% endif %}!
        </h1>
        {% if not known %}
            <p>
                Happy to meet you!
            </p>
        {% else %}
            <p>
                Happy to see you again!
            </p>
        {% endif %}
    </div>
    {{ wtf.quick_form(form,action='add') }}
{% endblock %}

